#gameboard {
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;

}
.square {
    height: 40px;
    width: 40px;
    position: relative;
}
.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}
path {
    position: relative;
    z-index: -10;
}
.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(255, 244, 147);
}
.brown {
    background-color: rgb(155, 131, 53);
}
.black {
    fill : rgb(28,28,28)
}
.white {
    fill: rgba(255, 255, 255, 0.726);
}